@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700;800&display=swap');

.chat{
  font-family: 'Urbanist', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.chat-app {
    width: 50%;
    height: 60%;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #415c973f;
  }
  .header {
    background-color: #1d2b6457;
   color: rgba(255, 255, 255, 0.685);
    width: 100%;
    text-align: center;
  }
  .messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
 
  .user {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
  }
  
  .new-message-form {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 15px;
  }
  
  .new-message-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    padding: 10px;
    border-radius: 5px 0 0 5px;
  }
  
  .send-button {
    outline: none;
    background-color: #1d2b6475;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 3px;
    margin-left: 10px;
    width: 100px;
    border: 1px solid #1d2b6475;
    border-radius: 5px;
  }

  .send-button:hover{
    background-color: #1d2b64c7;
  }